In [1]:
import pandas as pd
import numpy as np
import datetime
from sklearn import svm
from matplotlib import pyplot as plt
from sklearn import preprocessing

In [2]:
project_data = pd.read_csv('C:\Machine Learning Project\Video Games Sales.csv')
release_date = pd.read_csv('C:\Machine Learning Project\updatedrealeaseyear.csv')
release_date = release_date[release_date['Year'] != 'N/A  ']

In [3]:
#convert global sales to integer

df1 = project_data.iloc[:,10].mul(1000000)
df2 = pd.DataFrame(df1, dtype=int)
del project_data['Global_Sales']
final_data = pd.merge(project_data, df2, left_index=True, right_index=True)
final_data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82740000
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40240000
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35820000
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33000000
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31370000

In [4]:
#encode data

le = preprocessing.LabelEncoder()

final_data['Platform'] = le.fit_transform(final_data['Platform'])
final_data['Genre'] = le.fit_transform(final_data['Genre'])
final_data['Publisher'] = le.fit_transform(final_data['Publisher'])

print(final_data.loc[29])

Rank                                        30
Name            Call of Duty: Modern Warfare 3
Platform                                    28
Year                                      2011
Genre                                        8
Publisher                                   79
NA_Sales                                  9.03
EU_Sales                                  4.28
JP_Sales                                  0.13
Other_Sales                               1.32
Global_Sales                          14760000
Name: 29, dtype: object

In [5]:
#define test sets for each year (from 2014-2017)

df14 = (final_data['Year']>=2014) & (final_data['Year']<2015)
test_set_1 = final_data.loc[df14]

df15 = (final_data['Year']>=2015) & (final_data['Year']<2016)
test_set_2 = final_data.loc[df15]

df16 = (final_data['Year']>=2016) & (final_data['Year']<2017)
test_set_3 = final_data.loc[df16]

df17 = (final_data['Year']>=2017)
test_set_4 = final_data.loc[df17]

In [6]:
#define training set

df_test = (final_data['Year'] <= 2013) & (final_data['Year'] >= 2005)
training_set = final_data.loc[df_test]
training_set.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,26,2006.0,10,417,41.49,29.02,3.77,8.46,82740000
2,3,Mario Kart Wii,26,2008.0,6,417,15.85,12.88,3.79,3.31,35820000
3,4,Wii Sports Resort,26,2009.0,10,417,15.75,11.01,3.28,2.96,33000000
6,7,New Super Mario Bros.,4,2006.0,4,417,11.38,9.23,6.50,2.90,30010000
7,8,Wii Play,26,2006.0,3,417,14.03,9.20,2.93,2.85,29020000

In [7]:
#create training set subset for PC games (PC = 13)

df_pc = (training_set['Platform'] == 13)
training_set_pc = training_set.loc[df_pc]

#create training set subset for role-playing games (role-playing = 7)

df_rpg = (training_set['Genre'] == 7)
training_set_rpg = training_set.loc[df_rpg]

#create training set for subset for Activision (Activision = 79)

df_msg = (training_set['Publisher'] == 79)
training_set_msg = training_set.loc[df_msg]

### 2014  vs PC

In [9]:
x_train = training_set_pc[['Genre','Publisher']]
x_test = test_set_1[['Genre','Publisher']]

y_train = training_set_pc['Global_Sales']
y_train = test_set_1['Global_Sales']